  .fundo {
    background-image: url('imagens/PaginaPrincipal/linguagens-paradigmas.jpg');
    background-size: cover; /* Faz a imagem cobrir toda a tela */
    background-repeat: no-repeat; /* Evita que a imagem se repita */
  }

  .fundo2 {
    background-image: url('imagens/PaginaPrincipal/fundo2.png');
    /*background-size: cover; /* Faz a imagem cobrir toda a tela */
    background-repeat: repeat;
  }

  .tituloPrincipal{
    color:crimson;
    text-align: center;
    font-size: 40px;
  }

  .h1{
    color: #fff;
  }

  .h2{
    color: #FF4500;
  }

  #conteudoIndex {
    width: 1500px;
    margin-right: auto;
    margin-left: auto;
    background-color: #F0F8FF; /*cor Alice Blue - Do site: https://www.ranoya.com/books/public/css/corescss.php*/
    height: 2100px;
  }

  a:visited {
    color: #DC143C; /*Nome da cor: Crimson */
  }

  p, h3{
    color: #fff;
  }